{{ form_start(form) }}
{{ form_widget(form) }}
{% for file in profile.adminNote.files %}
<a href="{{ path('admin_note_download', { filename: file }) }}">
  {{ file }}
</a>
{% endfor %}
<button type="submit" class="btn btn-primary">
  {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
