{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Country</th>
                <th>Nationality</th>
                <th>HasPassport</th>
                <th>PassportScan</th>
                <th>CurriculumVitae</th>
                <th>Picture</th>
                <th>CurrentLocation</th>
                <th>DateOfBirth</th>
                <th>PlaceOfBirth</th>
                <th>IsAvailable</th>
                <th>Experience</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.firstName }}</td>
                <td>{{ profile.lastName }}</td>
                <td>{{ profile.gender }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.country }}</td>
                <td>{{ profile.nationality }}</td>
                <td>{{ profile.hasPassport ? 'Yes' : 'No' }}</td>
                <td>{{ profile.passportScan }}</td>
                <td>{{ profile.curriculumVitae }}</td>
                <td>{{ profile.picture }}</td>
                <td>{{ profile.currentLocation }}</td>
                <td>{{ profile.dateOfBirth ? profile.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ profile.placeOfBirth }}</td>
                <td>{{ profile.isAvailable ? 'Yes' : 'No' }}</td>
                <td>{{ profile.experience ? profile.experience.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ profile.description }}</td>
                <td>{{ profile.createdAt ? profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profile.updatedAt ? profile.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profile.deletedAt ? profile.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('profile_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_new') }}">Create new</a>
{% endblock %}
