{% extends 'base.html.twig' %} {% block title %}AdminNote index{% endblock %} {%
block body %}
<h1>AdminNote index</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th>Files</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for admin_note in admin_notes %}
    <tr>
      <td>{{ admin_note.id }}</td>
      <td>{{ admin_note.content }}</td>
      <td>
        {% for file in admin_note.files %}
        <a href="{{ path('admin_note_download', { filename: file }) }}">{{ file }}</a>
        {% endfor %}
      </td>

      <td>
        {{ admin_note.createdAt ? admin_note.createdAt|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>
        {{ admin_note.updatedAt ? admin_note.updatedAt|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>
        <a href="{{ path('admin_note_show', { id: admin_note.id }) }}">show</a>
        <a href="{{ path('admin_note_edit', { id: admin_note.id }) }}">edit</a>
        {{ include('admin_note/_delete_form.html.twig') }}
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="6">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('admin_note_new') }}">Create new</a>
{% endblock %}
